@import "./common/navbar.scss";
@import "./common/footer.scss";
@import "./common/privacy.scss";
@import "./common/about.scss";
@import "./common/faq.scss";
@import "./common/404.scss";

@font-face {
  font-family: "Bai Jamjuree", sans-serif;
  src: url("/fonts/BaiJamjuree/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree", sans-serif;
  src: url("/fonts/BaiJamjuree/BaiJamjuree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree", sans-serif;
  src: url("/fonts/BaiJamjuree/BaiJamjuree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree", sans-serif;
  src: url("/fonts/BaiJamjuree/BaiJamjuree-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bai Jamjuree", sans-serif;
  src: url("/fonts/BaiJamjuree/BaiJamjuree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  &.menu-opened {
    overflow: hidden !important;
  }
}
.breadcrumb {
  margin-top: 20px;
  .breadcrumb-item {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    a {
      color: #000000;
      transition: 0.25s;
      &:hover {
        color: #e33443;
      }
    }
    &:before {
      color: #000000;
    }
    &.active {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #000000;
    }
  }
}
