.footer-custom {
  background: #000000;
  .footer-div {
    padding-top: 60px;
    .logo-div {
      width: 134px;
      height: 65px;
      position: relative;
      img {
        object-fit: cover;
      }
    }
    .footer-links {
      display: grid;
      gap: 30px 200px;
      height: fit-content;
      grid-template-columns: repeat(2, 1fr);
      @media screen and (max-width: 576.98px) {
        grid-template-columns: repeat(1, 1fr);
      }
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        transition: 0.25s;
        width: fit-content;
        &:hover {
          color: rgb(255, 255, 255, 0.5);
        }
      }
    }
    .social-links {
      display: flex;
      gap: 10px;
    }
  }
  .footer-sub-div {
    padding-top: 50px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #ffffff;
    }
    .bcp-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #ffffff;
      }
      .bcp-logo-div {
        width: 50px;
        height: 34px;
        position: relative;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
